!!! 5
%html{ :lang => "en" }
  %head
    = render 'head'
  %body

    %table#outer_container
      %tr
        %td#header
          .navi
            %span
              ARIANE PAULS
            - ['works', 'cv', 'texts', 'book'].each do |link|
              %a{:href=>"/#{link.gsub(/ /,'-')}/"}
                = link
      %tr
        %td.anchor
          #inner_container<
            #box
              = yield
      %tr
        %td#footer
          .navi
            - ["site notice", "contact"].each do |link|
              %a{:href=>"/#{link.gsub(/ /, '_')}/"}
                = link
  = render 'foot'
