!!! 5
%html{ :lang => "en" }
  %head
    = render 'head'
    %script{:src => "/javascripts/jquery_mousewheel.js"}
    %script{:src => "/javascripts/detail.js"}
    - if @item[:category] == :all
      %script
        diashow = ['/start-1.jpg', '/start-2.jpg', '/start-3.jpg']
  %body

    %table#outer_container
      %tr
        %td
          #inner_container

            #navi
              .tab.toptab.header
                - if @item[:category] == :all
                  %img{:src => '/images/projekte-a.png', :alt => 'projekte'}
                - else
                  %a{:href => '/projekte/'}
                    %img.ro{:src => '/images/projekte.png', :alt => 'projekte'}
              - Project.categories.each do |cat|
                .tab.toptab
                  %a{:href => cat[:path], :class => (cat[:key] == @item[:category]) ? 'hi' : ''}
                    = cat[:name]
            #projectlist
              - (@item[:project_list] || []).each_with_index do |project, index|
                %div{:class => (project.identifier == @item.identifier) ? 'hi' : "color#{index%2+1}"}
                  %a{:href => project.identifier, :'data-image' => image_for(project)}<
                    = project[:name]

            - if @item[:content_for_all]
              %div#detail<
                = @item[:content_for_all]
            - else
              %table#detail{:class => @item[:category] ? '' : 'plan_b'}
                %tr
                  %td.left
                    %div.spanner
                      %div#description.description
                        = yield
                  - if @item[:content_for_right]
                    %td.right<
                      %div.spanner
                        %div.description
                          = @item[:content_for_right]
                  - elsif @item[:content_for_right_unpadded]
                    %td.right.unpadded<
                      = @item[:content_for_right_unpadded]
                  - else
                    %td.right.unpadded<
                      - if @item[:image] && img = @item[:image].call
                        %img{:src => img, :alt => ''}>

            #footer
              .tab.foottab.header
                %a{:href=>'/'}
                  %img.ro{:src => '/images/planb.png', :alt => 'plan b'}
              - [['/buero/', 'ÜBER UNS'], ['/leistungsbild/', 'LEISTUNGSBILD'], ['/karriere/', 'KARRIERE'], ['/kontakt/', 'KONTAKT']].each do |path, text|
                - path = "/plan_b#{path}"
                .tab.foottab
                  %a{:href => path, :class => @item.identifier == path ? 'hi' : ''}
                    = text
